.form-class {
  display: flex;
  justify-content: center;
  padding: 20px;
  // background: rgba(0, 0, 0, 0.1);

  input {
    margin: 0 8px;
    height: 18px;
    width: 300px;
    height: 40px;
    text-indent: 10px;
  }
  .btn-search {
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 0 12px 12px 0;
    p {
      font-size: 20px;
      color: #000;
    }
  }

  .btn-favorites {
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 12px 0 0 12px;
    p {
      font-size: 20px;
      color: #000;
    }
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-gif {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
}

.button-gif:hover .overlay {
  opacity: 1;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 0 0 4px 4px;
  color: #fff;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 14px;
  padding: 12px;
  text-align: center;
}

.fav-icon {
  color: white;
}

.img-gifs {
  margin: 2px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #fafafa;
  width: 250px;
  height: 150px;
}

.infinite-scroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading-img {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
}
