.form-class {
  display: flex;
  justify-content: center;
  margin: 20px;

  input {
    margin-right: 8px;
    height: 18px;
    width: 300px;
    height: 40px;
    border-radius: 12px 0 0 12px;
    text-indent: 10px;
  }
  button {
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 0 12px 12px 0;
    p {
      font-weight: bold;
      font-size: 20px;
      color: rgb(32,178,170);
    }
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-gif {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img-gifs {
  margin: 2px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(32,178,170);
  width: 248px;
  height: 140px;
}

.infinite-scroll {
  display: flex;
  flex-wrap: wrap;
}

.loading-img {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
}
