.modal {
  width: 50%;
  height: 50%;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.modal-img {
  width: auto;
  height: 250px;
  border-radius: 4px;
}
