.modal {
  width: 50%;
  height: 50%;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(32, 178, 170);
  border-radius: 4px 4px 0 0;
  width: auto;
  height: 300px;

  img {
    max-width: 50%;
    max-width: 50%;
    border-radius: 4px;
  }

  li {
    margin-left: 10px;
    list-style-type: none;
    font-weight: bold;
  }
}
