h1,
h4 {
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
}

.wrapper {
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.wrapper-favorites {
  display: flex;
  background: #282a36;
  flex-wrap: wrap;
  justify-content: center;
}
