@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: #282a36;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100%;
  /* border: 1px solid purple; */
}
